@font-face {
	font-family: "Maison Neue Extended";
  	src: url('~fonts/Maison Neue/MaisonNeueExtended-Medium.otf') format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: "Maison Neue Extended";
  	src: url('~fonts/Maison Neue/MaisonNeueExtended-ExtraBold.otf') format('opentype');
	font-weight: 500;
}


@media screen {
	#badge-artboard {
		border: thin solid #000000;
	}
}

@media print {
	/* this overrules bootstrap print text color */
	*, ::after, ::before {
			color: #000000 !important;
	}
}

.card {
	width: 88mm; 
	height: 140mm;
	img { height: 100%; }
	overflow: hidden;
}
.staff-badge {
	.text-box {
		div {
			color: #000000 !important;
		}
	}
	.title-company {
		div {
			color: #000000 !important;
		}
	}
}

.bdg-artboard {
	font-family: "Maison Neue Extended", sans-serif;
	font-weight: 300;
}
.badge-feature-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	color: #000000 !important;
	text-transform: uppercase;
	.badge-feature {
		display: table-cell;
		vertical-align: middle;
		height: 46px;
		width: 100%;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		&.speaker{
			background-color: #62D675;
		}
		&.media {
			background-color: #FDC746;
		}
	}
	
}
.text-box {
	position: absolute;
	top: 72.5mm;
	padding: 0 5.5mm;
	display: flex;
	flex-direction: column;
	width: 100%;
	div {
		color: #ffffff !important;
	}
	.first-name {
		font-size: 38pt;
		line-height: 1.1;
	}
	.last-name {
		font-size: 38pt;
		line-height: 1.1;
	}
	.pronouns {
		line-height: 1;
	}
}
.title-company {
	display: inline-block;
	position: absolute;
	left: 6.2mm;
	bottom: 11mm;
	max-width: 210px;
	width: 195px;
	line-height: 1.5;
	div {
		color: #ffffff !important;
	}
}
.qr-code-wrapper {
	span {
		font-size: 8px;
		color: #ffffff;
		position: absolute;
		top: 108mm;
		right: 5.1mm;
	}
}
.qrcode-box {
	position: absolute;
    background-color: white !important;	
	top: 113mm;
	right: 6.2mm;
	padding: 1mm;
	height: 78px;
}

#t-shirt-size {
	position: absolute;
	left: 6.7mm;
	bottom: 0.7mm;
	color: white !important;
	letter-spacing: 0.5em;
	margin-right: -0.5em;
}
