/* -- general styles -- */

#badge-artboard {
	width:92mm; 
	height:140mm;
}

.bdg-artboard .box-content {
	font-family: 'Roboto Condensed', 'Arial Narrow', Arial, sans-serif;
	font-weight: normal;
	left: 2.5mm;
}

.text-box {
	height: 8mm;
	width: 81mm;
	left: 5mm;
}

.text-box.text-box-1 {top: 62mm;}

.text-box.text-box-2 {top: 78mm;}

.qrcode-box {
	top: 110mm;
	left: 5mm;
}

.icon-feature {top: 115mm;}

#icon-feature-1 {left: 36mm;}

#icon-feature-2 {left: 54mm;}

#icon-feature-3 {left: 72mm;}

