.question-wrapper {
  margin: 35px 0;
}

.button-save {
  margin: 30px 15px;
}

.disclaimer {
  margin: 25px 5px 0 5px;
  > div {
    b {
      margin-left: 5px;
    }
  }
  ul {
    list-style: inside;
  }
}
.form {
  margin-bottom: 30px;
  .input-row {
    margin-top: 35px;
    margin-bottom: 35px;

    .input-field {
      display: flex;
      flex-direction: column;

      b {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 5px;
      }      
    }
  }
}