.form {
  margin-bottom: 30px;
  :global {
    button {
      display: none;
    }
  }
}
.input-row {
  margin-top: 35px;
  margin-bottom: 35px;
}
.input-field {
  margin-top: 12px;
  margin-bottom: 5px;
  :global {
    h4 {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
.disclaimer {
  margin: 25px 5px 0 5px;
  > div {
    b {
      margin-left: 5px;
    }
  }
  ul {
    list-style: inside;
  }
}
.button-save {
  margin: 30px 15px;
}