@media print {
  header nav, footer {
    display: none;
  }

  .header {
    display:none;
  }

  html,
  body {
    margin: 0 !important;
    print-color-adjust: exact;
  }

  @page {
    margin: 0 !important;
  }

  .container {
    margin: 0 !important;
    padding: 0 !important;
  }

}

body, h1, h2, h3, h4, h5, h6 {
  font-family: var(--site_font) !important;
  font-weight: 400;
  color: var(--color_text_dark) !important;
}

.right-space {
  margin-right: 20px;
}

.left-space {
  margin-left: 20px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}

h2 {
  font-weight: 300;
  margin-bottom: 25px;
  text-align: left;
  font-size: 2em;
}

a {
  cursor: pointer !important;
}


body {
  background-color: whitesmoke;
  font-family: var(--site_font) !important;
}

#root {

}

.header {
  height: 100%;
  padding: 10px 0;
  background-color: var(--color_secondary);
  font-weight: bold;
  color: var(--color_text_dark);

  .language-select {
    width: 50px;
    float: left;
    position: relative;
    top: 0px;

    button {
      border: none;
    }
  }

  .header-title {
    font-size: 16px;
    margin: 0 10px 10px 0;

    .title {
      top: 10px;
      font-size: 1.5em;
      text-align: center;
    }
  }

  a {
    color: var(--color_text_dark);

    :hover {
      color: var(--color_text_dark) !important;
    }
  }
}

.container {
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
}

#page-wrap {
  background-color: white;

  input.error {
    border: 1px solid red !important;
    background: rgba(255,0,0,0.2) !important;
  }

  p.error {
    color: red !important;
  }

  .input {
    height: 40px !important;
    border-color: var(--color_text_input_borders) !important;
    color: var(--color_text_dark) !important;

    &:focus {
      color: var(--color_text_dark) !important;
    }

    &::placeholder {
      color: var(--color_text_input_hints) !important;
    }
  }

  .btn-primary {
    background-color: var(--color_primary) !important;
    color: white !important;
    border: none !important;

    &:hover {
      background-color: var(--color_primary_contrast) !important;
    }
  }

  .btn-danger {
    background-color: white !important;
    color: var(--color_primary) !important;
    border: 2px solid var(--color_primary) !important;

    &:hover {
      background-color: var(--color_primary_contrast) !important;
    }
  }

  .btn {
    height: 50px !important;
    font-size: 16px;
  }
}

.no-template {
  font-size: 30px;
  text-align: center;
}

.no_match_page_wrapper {
  text-align: center;
  h1 {
    font-size: 36px;
  }
}

.error_page_wrapper {
  text-align: center;
  h1 {
    font-size: 36px;
  }
  p {
    font-size: 18px;
  }
  .go-back {
    margin-top: 20px;
    font-size: 18px;
  }
}

.login-page {
  text-align: center;

  .login-message {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

.summit-select-page {
  .abc-checkbox {
    margin-top: 32px;
    label {
      padding-left: 14px;
    }
  }
}

.header-logo{
  min-width: 50px;
  height: 100px;
  position: relative;
  left: 3px;
  max-width: 100%;
}