@import 'colors.less';


@media print {
  header nav, footer {
    display: none;
  }

  .header {
    display:none;
  }

  html,
  body {
    margin: 0 !important;
    -webkit-print-color-adjust: exact;
  }

  @page {
    margin: 0 !important;
  }

  .container {
    margin: 0 !important;
    padding: 0 !important;
  }

}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: @blue;
}

.right-space {
  margin-right: 20px;
}

.left-space {
  margin-left: 20px;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 400;
}

h2 {
  font-weight: 300;
  margin-bottom: 25px;
  text-align: left;
  font-size: 2em;
}

a {
  cursor: pointer !important;
}


body {
  background-color: whitesmoke;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#root {

}

.header {
  height: 80px;
  padding: 10px 0;
  background-color: @light-blue;
  font-weight: bold;
  color: @blue;

  .language-select {
    width: 50px;
    float: left;
    position: relative;
    top: -14px;
    .flag-select {
      border: 1px solid @gray-2;
      border-radius: 30px;
      height: 50px;
      width: 50px;
      background-color: @light-blue-2;
      &:hover {
        background-color: @gray;
      }
      .selected--flag--option {
        text-align: center;
        img {
          height: auto;
          width: 30px;
          top: 10px;
          left: 1px;
          display: none;
        }
        .country-label {
          padding: 0;
          top: 12px;
        }
      }
      .country-label {
        padding: 0;
      }
      .flag-options {
        margin-top: 30px;
        padding: 0;
        height: 60px;
        img {
          height: auto;
          width: 30px;
          left: 1px;
          display: none;
        }
      }
      .arrow-down {
        display: none;
      }
    }
  }

  .header-title {
    font-size: 16px;
    margin: 0 10px 10px 0;

    .title {
      top: 10px;
      font-size: 1.5em;
      text-align: center;
    }
  }
}

.container {
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
}

#page-wrap {
  background-color: white;

  .container {
    div {
      color: @blue;
    }
  }

  input.error {
    border: 1px solid red !important;
    background: rgba(255,0,0,0.2) !important;
  }

  p.error {
    color: red !important;
  }

  .input {
    height: 40px !important;
    background-color: @light-blue-2 !important;
    border-color: @gray-2 !important;
    color: @blue !important;

    &:focus {
      color: @blue !important;
    }

    &::placeholder {
      color: @gray !important;
    }
  }

  .btn-primary {
    background-color: @blue-2 !important;
    color: white !important;
    border: none !important;
  }

  .btn-danger {
    background-color: white !important;
    color: @blue-2 !important;
    border: 2px solid @blue-2 !important;
  }

  .btn {
    height: 50px !important;
    font-size: 16px;
  }
}

.no-template {
  font-size: 30px;
  text-align: center;
}

.no_match_page_wrapper {
  text-align: center;
  h1 {
    font-size: 65px;
  }
}

.error_page_wrapper {
  text-align: center;
  h1 {
    font-size: 65px;
  }
}

.login-page {
  text-align: center;

  .login-message {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

