@import 'colors.less';

.print-page-wrapper {
	.print-buttons-wrapper {
		.btn {
			width: 100%;
			margin: 20px 0 10px 0;
		}
	}
}

.loading-badge {
	margin-top: 20px;
	text-align: center;
	font-size: 18px;
}

