/* -- general styles -- */

@font-face {
  font-family: "Builder Sans Regular";
  src: url('~fonts/Builder_Family/Sans/Web/BuilderSans-Regular.ttf');
}
@font-face {
  font-family: "Builder Extended Bold";
  src: url('~fonts/Builder_Family/Extended/Web/BuilderExtended-Bold.ttf');
}

@media print {
	/* this overrules bootstrap print text color */
	*, ::after, ::before {
			color: #000 !important;
	}
}

.zebra-card {
	font-family: "Builder Sans Regular";

	width: 89mm;
	height: 142.2mm;
	img { height: 100%; }

	overflow: hidden;

	.bdg-image {
		position: absolute;
	}

	.bar {
		position: absolute;
		bottom: 0mm;
		left: 0mm;
		height: 16.52mm;
		width: 100%;
		z-index: 1000;
		display: flex;
		align-items: center;
		span {
			padding: 0 7mm;
			font-family: "Builder Extended Bold";
			font-size: 24.1pt;
			font-style: normal;
			font-weight: 400;
			line-height: 26px; /* 108.333% */
			letter-spacing: 0.42px;
			text-transform: uppercase;
			margin-top: -1mm;
		}
		.white {
			color: #FFF !important;
		}
		.black {
			color: #010101 !important;
		}
		@media print {
			.white {
				color: #FFF !important;
			}
			.black {
				color: #010101 !important;
			}
		}
	}
	.text-boxes {
		position: absolute;
		bottom: 0mm;
		left: 0mm;
		width: 89mm;
		padding: 0mm 7mm 21.5mm 7mm;
		display: flex;
		flex-direction: column;
		color: #FFF !important;
		div {
			color: #FFF !important;
		}
		z-index: 1000;
		.text-box {
			display: flex;
			align-items: center;
			text-transform: capitalize;
		}
		.user-name,
		.first-name {
			font-family: "Builder Extended Bold";
			font-style: normal;
			//font-weight: 900;
			line-height: 32px; /* 133.333% */
			letter-spacing: 0.48px;
		}
		.user-name + .pronounce,
		.user-name + .company,
		.first-name + .pronounce,
		.first-name + .company {
			padding-top: 1mm;
		}
		.pronounce + .company {
			margin-top: -1mm;
		}
	}
}